{% extends 'my-base.html' %}

{% block main %}
<div class="espaciado">
    <a class="btn btn-primary boton_ewe_al" href="{{ url_for('tools') }}" role="button">Volver atras</a>
    <h1 class="display-4">{{titulo}}</h1>

      <table class="table table-striped">
        <thead>
            
            <tr>
                {%for head in texto[0] %}
                    <th scope="col">{{head}}</th>
                {%endfor%}
            </tr>
        </thead>

        <tbody>
            {%for row in texto%}
                {%if loop.index > 1%}
                    <tr>
                        {% for item in row %}
                            <td>{{item}}</td>
                        {%endfor%}
                    </tr>
                {%endif%}
            
            {%endfor%}
        </tbody>

    </table>
</div>
    
{% endblock %}